<div class="container">
  <h1>New Update</h1>
  <p>What have you been working on?</p>
  <%= form_for :post, url: posts_path do |f| %>
    <p>
      <%=f.label :title %> <br>
      <%=f.text_field :title %>
    </p>

    <p>
      <%=f.label :body %> <br>
      <%=f.text_field :body %>
    </p>

    <%= f.submit %>
  <%end%>
</div>
