<!DOCTYPE html>
<html>
<head>
  <title>Updatr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= form_for :post, url: posts_path do |f| %>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand"><%= link_to "Updatr", root_path%></div>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to 'New Update', '#myModal', 'data-toggle' => 'modal' %></li>
          <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete%></li>
        <%else%>
          <li><%= link_to 'Sign Up', new_user_registration_path%></li>
          <li><%= link_to 'Sign In', new_user_session_path%></li>
        <%end%>
      </ul>
  </div>
</nav>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1>New Update</h1>
      </div>
      <div class="modal-body">

        <div class="container">
          <p>What have you been working on?</p>
            <p>
              <%=f.label :title %> <br />
              <%=f.text_field :title %>
            </p>

            <p>
              <%=f.label :body %> <br />
              <%=f.text_field :body %>
            </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal">Close</button>
          <%= f.submit %>

      </div>
    </div>
  </div>
</div>

<div class="container">
  <% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert") %>
		<% end %>
</div>

<%end%>

<%= yield %>

</body>
</html>
