<!DOCTYPE html>
<html>
<head>
  <title>Updatr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand"><%= link_to "Updatr", root_path%></div>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <!-- <p class="navbar-btn">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
              Launch demo modal
            </button>
          </p> -->
          <%= link_to 'New Update', '#myModal', 'data-toggle' => 'modal' %>
        </li>
        <li><%= link_to 'Sign In', root_path%></li>
        <li><%= link_to 'Log Out', root_path%></li>
      </ul>
  </div>
</nav>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1>New Update</h1>

      </div>
      <div class="modal-body">
        <%= form_for :post, url: posts_path do |f| %>
        <div class="container">
          <p>What have you been working on?</p>
            <p>
              <%=f.label :title %> <br>
              <%=f.text_field :title %>
            </p>

            <p>
              <%=f.label :body %> <br>
              <%=f.text_field :body %>
            </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal">Close</button>
          <%= f.submit %>
        <%end%>
      </div>
    </div>
  </div>
</div>



<%= yield %>

</body>
</html>
