<!DOCTYPE html>
<html>
<head>
  <title>Updatr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand"><%= link_to "Updatr", root_path%></div>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'New Post', new_post_path%></li>
        <li><%= link_to 'Sign In', root_path%></li>
        <li><%= link_to 'Log Out', root_path%></li>
      </ul>
  </div>
</nav>

<%= yield %>

</body>
</html>
